{% extends 'base.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	<center>
	<h1>Bienvenidos a nuestra tienda de juguetes</h1>
	<p>
	<center><img src="/media/images/img2.jpg" WIDTH=500 HEIGHT=300 BORDER=2 VSPACE=3 HSPACE=3></center>	
	</center>
	<p align="justify">
	Nuestra empresa Mundo Juguetes comercializa sus productos a trav&eacute;s de canales de distribuci&oacute;n
	(autoservicios, mayoristas, tiendas departamentales y jugueterias) con su filosofia orientada a satisfacer al &uacute;ltimo consumidor "los niños".
	</p>
{% endblock %}